@font-face {
  font-family: 'JetBrainsMono';
  src: url('./JetBrainsMono-Regular.ttf');
}

:root {
  font-family: JetBrainsMono;
  --main: #E0FCFC;
  --secondary: #C2E0E3;
  --secondary-2: #9DB5C0;
  --third: #5C6C73;
  --third-2: #253337;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#app {
  height: 100%;
}
