@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('./fonts/JetBrainsMono-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url('./fonts/JetBrainsMono-ExtraBold.ttf');
  font-weight: bolder;
}

:root {
  font-family: JetBrainsMono;
  --main: #e0fcfc;
  --secondary: #c2e0e3;
  --secondary-2: #9db5c0;
  --third: #5c6c73;
  --third-2: #253337;
}

* {
  font-family: JetBrainsMono;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  background: #c2e0e3;
  background: linear-gradient(180deg, rgba(194, 224, 227, 1) 0%, rgba(157, 181, 192, 1) 100%);
  -webkit-background-clip: text; /* clip background to text (WebKit browsers) */
  -webkit-text-fill-color: transparent; /* make text fill transparent to show the background */
  background-clip: text; /* for Firefox */
  color: transparent; /* fallback */
  position: absolute;
  top: 400px;
}
